---
layout: page
permalink: "tags/index.html"
---

<div id='tag_cloud'>
{% for cat in site.categories %}
<a href="#{{ cat[0] }}" title="{{ cat[0] }}" rel="{{ cat[1].size }}">{{ cat[0] }} ({{ cat[1].size }})</a>
{% endfor %}
</div>


<div id="blog-archives">
{% for tag in site.tags %}
  {% capture tag_name %}{{ tag | first }}{% endcapture %}
  <h3 class="tag_name" id="#{{ tag_name | slugize }}">{{ tag_name }}</h3>
  <a name="{{ tag_name | slugize }}"></a>

  {% for post in site.tags[tag_name] %}
  <article>
    <a href="{{ post.url | prepend:site.baseurl }}">{{post.title}}</a><small class="text-muted"> {{ post.date | date_to_string }}</small> 
  </article>
  {% endfor %}
{% endfor %}
</div>
